.queue-card {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--secondary);
    padding-inline: 2em;
    background-color: var(--primary);
}
