:root {
    --primary: #59191a;
    --secondary: #7e2d2e;
    --tertiary: #40957f;
    --white: #ffffff;
    --font-size-small: 0.5rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.5rem;
    --font-size-extra-large: 2rem;
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.roboto-regular {
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-weight: 400;
    font-style: normal;
    font-size: clamp(var(--font-size-medium), 2vw, var(--font-size-extra-large));
    color: var(--white)
}

button {
    cursor: pointer;
}